{% extends "AppWeb/padre.html" %}

{%load static %}

{% block titulo %}
    <h1>Foodtruck "Como en Casa"</h1>
{% endblock %}

{% block subtitulo %}
    <h2>El lugar donde se encuentran tus ganas de comer, con la comida más rica</h2>
{% endblock %}

{% block contenido %}
    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Agreguemos la opción de comida que prefieres</h2>
    </div>

    <form action="/agregarComida/" method="POST"> {% csrf_token %}

        {{formu_c.as_p}}

        <input type="submit" value="Guardar">
    </form>

{% endblock %}