{% extends "AppWeb/padre.html" %}

{%load static %}

{% block titulo %}
    <h1>Foodtruck "Como en Casa"</h1>
{% endblock %}

{% block subtitulo %}
    <h2>El lugar donde se encuentran tus ganas de comer, con la comida más rica</h2>
{% endblock %}

{% block contenido %}
    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Te ayudamos a buscar tu comida preferida</h2>
    </div>
    <br>
    <br>

    <div class="text-center text-secondary">
    <form action="/resultadosComida/" method="GET">

        Ingresa el nombre de la comida que deseas buscar: <input type="text" name="nombre">

        <input type="submit" value="Buscar" class="btn btn-primary">
    </form>
    </div>
    <br>
    <div class="text-center text-success">
    <hr>

        {% for x in comidas_b %}
            <p>{{ x.nombre }} .......... {{ x.descripcion }} .......... ${{ x.precio }}</p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}