{% extends "AppWeb/padre.html" %}

{%load static %}

{% block titulo %}
    <h1>Foodtruck "Como en Casa"</h1>
{% endblock %}

{% block subtitulo %}
    <h2>El lugar donde se encuentran tus ganas de comer, con la comida más rica</h2>
{% endblock %}

{% block contenido %}

    <div class="text-center mt-4">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aquí podrás encontrar todas las opciones de comidas que tenemos para ti</h2>
    </div>

    {% for comida in comidas %}
        <p>{{ comida.nombre }} .......... {{ comida.descripcion }} .......... ${{ comida.precio }}</p>
        <hr>
    {% endfor %}

    <a href="/agregarComida/" class="btn btn-primary btn-xl" id="submitButton">Agregar Comida</a>

{% endblock %}