{% extends "AppWeb/padre.html" %}

{%load static %}

{% block titulo %}
    <h1>Foodtruck "Como en Casa"</h1>
{% endblock %}

{% block subtitulo %}
    <h2>El lugar donde se encuentran tus ganas de comer, con la comida más rica</h2>
{% endblock %}

{% block contenido %}

        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">SOBRE NOSOTROS</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-hamburger"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">El Foodtruck "Como en Casa" comienza a fucionar en el año 2023 con el objetivo de brindarte la comida más rica, siempre en el estilo casero, artesanal</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Buscamos brindarte la comida más fresca, preparada en el momento, con los mejores ingredientes disponibles en el mercado, para que tu experiencia al comer sea de disfrute total</p></div>
                </div>
            </div>
        </section>

{% endblock %}
```
